@import 'global';

$form-background-color: rgba(139, 139, 139, 0.2);

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    input {
        width: 18em;
        height: 2.5em;
        padding: 0px 1em;

        font-size: 20px;
        background-color: rgba(1, 1, 1, 0);
        border-radius: 10px;
        transition: 0.1s ease;
    }
    input:focus {
        border-color: $purple-color;
    }
    input:not(:first-child) {
        margin-top: 34px;
    }

    a {
        margin-left: 40%;
        font-size: 16px;
    }

    button {
        width: 11em;
        height: 3.2em;
        margin-top: 34px;

        background-color: $purple-color;
        border-radius: 12px;
        border: 0;

        p {
            font-size: 25px;
            color: $white-color;
        }

        transition: 0.1s ease-in-out;
    }
    button:hover {
        opacity: 0.9;
    }
}

.signin, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30em;
    height: 40em;
    background-color: $form-background-color;
    border-radius: 30px;

    h1 {
        position: relative;
        font-size: 76px;
        font-weight: 400;
        text-align: center;

        bottom: 1em;
    }

    .no-account {
        position: relative;
        top: 30px;
        font-size: 18px;
    }
}

.signup {
    h1 {
        bottom: 0.5em;
    }

    form {
        input:not(:first-child) {
            margin-top: 20px;
        }

        button {
            width: 15.8em;
            height: 3.8em;
        }
    }
}