/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*
 * Variables
 */

 $background-color: #eee;
 $white-color: #eee;
 $black-color: #111;
 $purple-color: #9E22FF;
 $link-color: rgba(109, 41, 163, 1);
 $quicksand-font: 'Quicksand', sans-serif;